# Auto detect text files and perform LF normalization
* text=auto
chrome/bin/chromium filter=lfs diff=lfs merge=lfs -text
chromium/bin/chromium filter=lfs diff=lfs merge=lfs -text
ffmpeg/bin/ffmpeg filter=lfs diff=lfs merge=lfs -text
ffmpeg/bin/ffprobe filter=lfs diff=lfs merge=lfs -text
